// Your custom styles
.App {
    .tab-list {
        background-color: $default-color-dark;
        justify-content: space-evenly;
        margin: 0 -15px;
        padding: 3px 0;
      }
      .tab-list-item {
        background-color: $default-color-dark;
        color: $white;
        flex-grow: 1;
        text-align: center;
        &.active {
            background-color: $default-color;
            margin: 0 5px;
        }
      }
    .formContainer {
        padding-top: 30px;
        max-width: 300px;
    }
}